.sidebar {
    padding: 25px 10px;
    flex: 0.33;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    /* justify-content: center;
    align-items: center; */
}